.modal-content{
    background-color: rgb(61, 44, 25);
}

.title{
    margin-bottom: 80px;
}

.modal-body{
    padding-top: 60px;
    padding-bottom: 20px;
}

.modal-body p {
    text-align: center;

    font-size: 24px;

    color: rgb(250, 243, 232);
}
 
.modal-dialog {
    margin-top: 150px;
    width: 50%;
}

.btn-modal{
    width: 100%;

    font-size: 16px;
    
    padding: 20px;

    margin-top: 40px;

    background-color: rgb(60, 100, 52);
    color: rgb(250, 243, 232);
}
.btn-modal:hover{
    background-color: rgb(36, 78, 31);
}

.btn-modal-cancel{
    background-color: rgb(126, 43, 43);
}
.btn-modal-cancel:hover{
    background-color: rgb(75, 18, 18);
}

.form-group{
    color: rgb(241, 224, 187);
    
    display: flex;
    justify-content: space-between;

    width: 80%;

    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.form-name{
    margin-left: 10px;
    margin-right: 30px;
}

.form-control-ingredient{
    width: 180px;
}
.form-control-name{
    width: 250px;
}

#name-title{
    margin-bottom: 5px;
}

.error{
    color: red;
    position: absolute;
}