<div id="confirmation-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{modalText}}</p>
            </div>
            <div class="button-group">
                <button type="button" class="btn btn-modal btn-modal-cancel" data-dismiss="modal" (click)="cancel()">{{cancelButtonText}}</button>
                <button type="button" class="btn btn-modal" data-dismiss="modal" (click)="emitEvent()">{{okButtonText}}</button>
            </div>
        </div>
    </div>
</div>