.modal-content{
    background-color: rgb(61, 44, 25);
}

.modal-body p {
    text-align: center;
    margin-top: 30px;

    font-size: 24px;

    color: rgb(250, 243, 232);

    padding: 20px;
}
 
.modal-dialog {
    margin-top: 300px;
    width: 40%;
}

.button-group{
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.btn-modal{
    width: 100%;

    font-size: 16px;
    
    padding: 20px;

    margin-top: 20px;

    background-color: rgb(60, 100, 52);
    color: rgb(250, 243, 232);
}
.btn-modal:hover{
    background-color: rgb(36, 78, 31);
}

.btn-modal-cancel{
    background-color: rgb(126, 43, 43);
}
.btn-modal-cancel:hover{
    background-color: rgb(75, 18, 18);
}