<div class="container-fluid header-menu">
    <a [routerLink]="['/home']">
        <img id="logo" src="assets/menu/Logo.png">
    </a>
    <nav class="navbar navbar-default navbar-menu">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['']">
                        <span class="menu-option">
                            Home
                        </span>
                    </a>
                </li>
                <li routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/order']">
                        <span class="menu-option">
                            Place Order
                        </span>
                    </a>
                </li>
                <li routerLinkActive="link-active">
                    <a [routerLink]="['/history']">
                        <span class="menu-option">
                            Order History
                        </span>
                    </a>
                </li>
                <li routerLinkActive="link-active">
                    <a [routerLink]="['/pantries']">
                        <span class="menu-option">
                            Pantries
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-option">
                            Management
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>