<div id="pantries-view-container">
    <div id="pantries-view-body">
        <div  *ngIf="offices?.length > 0; else emptyOffices">
            <div id="pantries-view-title">
                Pantries at:
                <select id="office-select" (change)="onChangeOffice($event.target.value)"  [(ngModel)]="selectedOfficeId">
                    <option *ngFor="let office of offices; let i = index" value={{office.id}}>
                        {{office.officeName}}
                    </option>
                </select>
            </div>
            <div  id="pantries-view-table-container" *ngIf="pantries?.length > 0; else emptyPantries">
                <table id="pantries-view-table" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Pantry Name</th>
                            <th scope="col">Coffee Bean Bag Stock</th>
                            <th scope="col">Sugar Pack Stock</th>
                            <th scope="col">Milk Carton Stock</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let pantry of pantries; let i = index">
                        <tr>
                            <td>{{pantry.pantryName}}</td>
                            <td><span title="{{pantry.coffeeBeanUnits}} Units of Coffee Bean">{{getIngredientContainerAmtFromUnits(pantry.coffeeBeanUnits)}}</span></td>
                            <td><span title="{{pantry.sugarUnits}} Units of Sugar">{{getIngredientContainerAmtFromUnits(pantry.sugarUnits)}}</span></td>
                            <td><span title="{{pantry.milkUnits}} Units of Milk">{{getIngredientContainerAmtFromUnits(pantry.milkUnits)}}</span></td>
                            <td><button class="btn btn-restock" (click)="restock(i)">Restock</button></td>
                            <td><button class="btn btn-graph" (click)="showStockGraph(pantry.id)">Show Stock Graph</button></td>
                            <td><button class="btn btn-danger" (click)="showDeletePantryConfirmation(pantry.id)">Delete Pantry</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="btn-create-new-container">
            <button class="btn btn-create-new" (click)="showCreatePantryModal()">Create New Pantry</button>
            <span id="office-tools-container">
                <button class="btn btn-create-new" (click)="showCreateOfficeModal()">Create New Office</button>
                <button class="btn btn-danger" (click)="showDeleteOfficeConfirmation(selectedOfficeId)">Delete Office</button>
            </span>
        </div>
    </div>
    <ng-template #emptyPantries>
        <div class="empty-table">
            No pantries found.
        </div>
    </ng-template>
    <ng-template #emptyOffices>
        <div class="empty-table">
            No offices found.
        </div>
    </ng-template>
</div>

<app-restock-modal *ngIf="pantries?.length > 0"
    [pantry]="pantries[restockingPantryIndex]"
>
</app-restock-modal>

<app-create-pantry-modal *ngIf="offices?.length > 0"
    [officeId]="selectedOfficeId"
>
</app-create-pantry-modal>

<app-create-office-modal
    (onSuccessEvent)="onNewOffice($event)"
>
</app-create-office-modal>

<app-confirmation-modal
    [modalText]="confirmationMessage"
    [okButtonText]="confirmationOkButtonText"
    [cancelButtonText]="confirmationCancelButtonText"
    (onOkEvent)="onOkConfirmationFunction()"
>
</app-confirmation-modal>

<app-error-modal
  [modalText]="errorMessage" 
  [okButtonText]="'OK'"
>
</app-error-modal>