#pantries-view-container{
    margin-top: 60px;
}

#pantries-view-title{
    color: rgb(190, 168, 143);

    font-size: 22px;
}

#pantries-view-table-container{
    margin-top: 40px;
    margin-left:auto; 
    margin-right:auto;

    height: 600px;
    width: 100%;

    overflow-y: auto;
}

#pantries-view-table{
    color: rgb(235, 231, 226);

    font-size: 16px;
}

.btn-restock{
    background-color: rgb(68, 100, 39);
    color: white;
}
.btn-restock:hover{
    background-color: rgb(47, 61, 33);
    color: rgb(221, 221, 221);
}

.btn-graph{
    background-color: rgb(117, 89, 37);
    color: white;
}
.btn-graph:hover{
    background-color: rgb(85, 64, 25);
    color: rgb(221, 221, 221);
}

#btn-create-new-container{
    margin-top: 40px;
}

.btn-create-new{
    background-color: rgb(86, 112, 61);
    color: white;
    margin-right: 10px;
}
.btn-create-new:hover{
    background-color: rgb(105, 150, 64);
    color: white;
}

.empty-table{
    color: rgb(248, 239, 223);

    text-align: center;

    margin-top: 50px;

    font-size: 18px;
}

#pantries-view-body{
    width: 70%;

    margin-left: auto;
    margin-right: auto;
}

#office-select{
    margin-left: 5px;
    color: rgb(66, 48, 20);
    background-color: rgb(245, 234, 217);
}

#office-tools-container{
    margin-left: 40px;
}

.ingredient-unit{
    color: rgb(168, 157, 128);

    margin-left: 5px;

    font-size: 12px;
}