.modal-content{
    background-color: rgb(53, 61, 25);
}

.modal-body p {
    text-align: center;
    margin-top: 10px;

    font-size: 24px;

    color: rgb(250, 243, 232);

    padding: 20px;
}
 
.modal-dialog {
    width: 500px;
    margin: 20% auto;
}

.modal-footer{
    padding: 0;
}

.btn-modal{
    width: 100%;

    font-size: 16px;
    
    padding: 10px;

    background-color: rgb(100, 82, 52);
    color: rgb(250, 243, 232);
}

.btn-modal:hover{
    background-color: rgb(78, 61, 31);
}