<div id="order-history-container">
    <div id="order-history-header">
        Coffee Order History  
    </div>
    <div id="order-history-table-container" *ngIf="orders?.length > 0 && drinks?.length > 0 && pantries?.length > 0; else empty">
        <table id="order-history-table" class="table">
            <thead>
                <tr>
                    <th scope="col">Drink</th>
                    <th scope="col">Pantry</th>
                    <th scope="col">Date Ordered</th>
                </tr>
            </thead>
            <tbody *ngFor="let order of orders">
                <tr>
                    <td>{{getDrinkNameById(order.drinkId)}}</td>
                    <td>{{getPantryNameById(order.pantryId)}}</td>
                    <td>{{order.orderDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="btn-drink-graph-container">
        <button class="btn" id="btn-drink-graph" [routerLink]="['graph']">Show Drink Distribution Graph</button>
    </div>
    <ng-template #empty>
        <div class="empty-table">
            No orders found.
        </div>
    </ng-template>
</div>

<app-error-modal
  [modalText]="errorMessage" 
  [okButtonText]="'OK'"
>
</app-error-modal>