#order-history-container{
    margin-top: 60px;
}

#order-history-header{
    text-align: center;

    color: rgb(190, 168, 143);

    font-size: 22px;
}

#order-history-table{
    margin-left:auto; 
    margin-right:auto;
    margin-top: 40px;

    width: 70%;

    color: rgb(235, 231, 226);

    font-size: 16px;
}

#btn-graph{
    margin-top: 15px;
    background-color: rgb(117, 89, 37);
    color: white;
}
#btn-graph:hover{
    background-color: rgb(85, 64, 25);
    color: rgb(221, 221, 221);
}