#order-history-container{
    margin-top: 60px;
}

#order-history-header{
    text-align: center;

    color: rgb(190, 168, 143);

    font-size: 22px;
}

#order-history-table-container{
    margin-top: 40px;
    margin-left:auto; 
    margin-right:auto;

    height: 600px;
    width: 100%;

    overflow-y: auto;
}

#order-history-table{
    color: rgb(235, 231, 226);

    font-size: 16px;
}

#btn-drink-graph-container{
    margin-top: 30px;
}
#btn-drink-graph{
    background-color: rgb(117, 89, 37);
    color: white;
}
#btn-drink-graph:hover{
    background-color: rgb(85, 64, 25);
    color: rgb(221, 221, 221);
}

.empty-table{
    color: rgb(248, 239, 223);

    text-align: center;

    margin-top: 50px;

    font-size: 18px;
}

#order-history-body{
    width: 70%;

    margin-left: auto;
    margin-right: auto;
}