<div id="restock-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="title">Restocking {{pantry.pantryName}}</p>
                <form [formGroup]="restockForm" autocomplete="off" novalidate (ngSubmit)="restockPantry(restockForm.value)">
                    <div class="form-group">
                        <div class="ingredient-name">
                            Coffee Bean Bag Quantity<span class="requirement-sign">*</span>
                        </div>
                        <div>
                            <input type="number" class="form-control form-control-ingredient" id="coffee-bean-bag-qty" formControlName="coffeeBeanBagQuantity"
                                placeholder="Enter qty. of Coffee Bean Bags">
                            <em class="error" *ngIf="validateControl('coffeeBeanBagQuantity') && hasError('coffeeBeanBagQuantity', 'required')">
                                *This field is required</em>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="ingredient-name">
                            Sugar Pack Quantity<span class="requirement-sign">*</span>
                        </div>
                        <div>
                            <input type="number" class="form-control form-control-ingredient" id="sugar-pack-qty" formControlName="sugarPackQuantity" 
                                placeholder="Enter qty. of Sugar Packs">
                            <em class="error" *ngIf="validateControl('sugarPackQuantity') && hasError('sugarPackQuantity', 'required')">
                                *This field is required</em>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="ingredient-name">
                            Milk Carton Quantity<span class="requirement-sign">*</span>
                        </div>
                        <div>
                            <input type="number" class="form-control form-control-ingredient" id="milk-carton-qty" formControlName="milkCartonQuantity"
                                placeholder="Enter qty. of Milk Cartons">
                            <em class="error" *ngIf="validateControl('milkCartonQuantity') && hasError('milkCartonQuantity', 'required')">
                                *This field is required</em>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-modal btn-modal-cancel" (click)="cancel()">Cancel</button>
                        <button type="submit" class="btn btn-modal" [disabled]="!restockForm.valid">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-error-modal
  [modalText]="errorMessage" 
  [okButtonText]="'OK'"
>
</app-error-modal>